<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/check_style.css">
    
</head>
<body>
    
    <h1 id = "game"><a href="/">konek.io</a></h1>

    <h1 id = "list-title">Word Link</h1>

    <ul id = "word-list"></ul>

    <div class="line"></div>

    <div id = "cancel-prompt">

        <h1 id = "cancel-title">Enter the word to cancel out: </h1>
        <input id = "input-prompt" type="text"></input>
        <input id = "submit" onclick="cancel_word()"></input>

    </div>

    <h1 id = "caution"></h1>

    <script src = "scripts/check_page.js"></script>


</body>
</html>