<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/end_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id = "game"><a href="/">konek.io</a></h1>
    <h1 id = "end-title">You're done.</h1>

    <h2 id = "player1-score">Player 1 Score:</h2>

    <h2 id = "score1-int">12345</h2>

    <h2 id = "player2-score">Player 2 Score:</h2>

    <h2 id = "score2-int">54321</h2>

    <h2 id = "winner">__ wins. Amazing.</h2>
    
    <h3 id="loser">It's not supposed to be hard, __.</h3>
        
    <a style="text-decoration:none" href="/" id = "front">Don't</a>

    <button onclick="window.location.href='/play'" id="play" type = "play">Play again</button>

</body>
</html>