<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/instruction_style.css">
    <title>konek.io</title>
</head>

<body>

    <h1 id = "game">konek.io</h1>

    <h1 id = "title">Ko  •  Nek</h1>
    <h3 id = "btm-title">[Kuh-Nek]</h3>

    <h2 id = "definition">noun.</h2>
    <h2 id = "definition-sub">1. The art of convincing that mugs refers to Manhattan. </h2>
    <h2 id = "definition-sub-2">2. Justifying why cars and wheels have nothing to do with each other.</h2>
    
    <div class="line"></div>

    <h4 id = "instructions">The game is very simple! There's 5 rounds, each consisting of 2 sections of word linkage where you
    alternate after each round:
    </h4>


    <h4 id = "round1">Section 1: 
        <br>1. You get a random word to start a word chain with
        <br>2. Make as many connections as you can to each word before it
        <br>3. You will have 15 seconds. Points are based on how long your chain is!
        <br>  Eg. America -> Trump -> Orange -> Fruit
    </h4>

    <h4 id = "round2">Section 2: 
        <br>1. The last word you input in Section 1 will be your start word
        <br>2. You will be given a random word you must end your word chain with
        <br>3. Use as little time as possible to make word connections to complete the chain.
    </h4>

    <h4 id = "check">(If you're not happy with a word you entered, you can delete it!)</h4>


    <a style="text-decoration:none" href="/" id = "back">Back to Main</a>
</body>
</html>
