<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/instruction_style.css">
    
</head>

<body>

    <h1 id = "game">konek.io</h1>
    
    <h1 id = "title">Word  •  Smith</h1>
    <h3 id = "btm-title">[wurd-smith]</h3>
    
    <h2 id = "definition">noun. Plural ‘wordsmiths’</h2>
    <h2 id = "definition-sub">1. an expert in the use of words. </h2>

    <h1 id = "instruction-title">How to Play </h1>

    <div class="line"></div>

    <h4 id = "instructions">The game is very simple: There's three rounds of connecting words with unique ways
        to score points...
    </h4>


    <h4 id = "round1">Round 1:...</h4>

    <h4 id = "round2">Round 2:...</h4>

    <h4 id = "round3">Round 3:...</h4>


    <a style="text-decoration:none" href="/" id = "back">Back to Main</a>
</body>
</html>
