body{
    background-color: rgb(255, 245, 230);

}

#game{
    font-family: monospace;
    font-size: 20px;
    color: rgb(131, 79, 79);
}

#round-count{
    position: absolute;
    top: 0%;
    color: rgb(131, 79, 79);
    font-family: monospace;
    font-style: bold;
    font-size: 1.4vw;
    display: inline;

    text-align : left;
    left: 45.5%;
}

#list-title{

    position: absolute;
    top: 11%;
    left: 10%;
    font-size: 2.2vw;
    color: rgb(131, 79, 79);
    text-decoration: underline overline;

}

.line{
    position: absolute;
    top: 23.5%;
    left: 32%;
    border-left: 5px solid rgb(131, 79, 79);
    height: 0px;
    animation: increase 2s; 
    animation-fill-mode: forwards;
}

#word-list{

    position: absolute;
    display: table;
    table-layout: fixed;
    width: 16%;
    top: 20%;
    left: 9.5%;
    color: rgb(131, 79, 79);
    font-family: monospace;
    font-size: 1.5vw;

}

#word-list li{

    list-style-type: none;
    overflow-wrap: break-word;
    margin: 0% 0% 5% 0%;
}

@keyframes increase {
    100% {
        height: 60%;
    }
}

#player-name{
    position: absolute;
    top: 0%;
    color: rgb(131, 79, 79);
    font-family: monospace;
    font-style: bold;
    font-size: 1.4vw;
    display: inline;

    text-align: right;
    right: 2%;
}

#cancel-prompt{

    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
    width: 40%;
    height: 30%;

}

#cancel-title{

    color: rgb(131, 79, 79);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vw;

}

#input-prompt{
    
    position: relative;
    top: 60%;
    width: 55%;
    height: 20%;
    font-size: 1.8vw;
    transition: width .35s ease-in-out;
    border: none;
    text-align: center;

}

#input-prompt:focus{
    width: 85%;
    outline: none;
    border: none;

}

input[type = "text"]{

    font-family: monospace, sans-serif;
    font-size: 1.5vw;
}

#submit{

    display: none;

}

#show-score{

    position: absolute;
    top: 46%;
    left: 54.5%;
    font-family: monospace;
    font-size: 2.5vw;
    color: rgb(131, 79, 79);

}

#continue-end{
    position: absolute;
    border: none;
    text-decoration: none;
    top: 70%;
    left: 57%;
    background-color: rgb(255, 245, 230);
    color: rgb(131, 79, 79);
    font-family: monospace;
    font-size: 1.5vw;
}

#continue-end:hover{

    background-color: rgb(131, 79, 79);
    color: rgb(255, 245, 230);
    transition: all 0.2s ease-in;

}

#caution{

    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 2vw;
    color: rgb(131, 79, 79);
    font-family: monospace;

}
