#game{
    font-family: monospace;
    font-size: 20px;
    color: rgb(131, 79, 79);
}

#title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: rgb(131, 79, 79);
    top: 21%;
    left: 10.3%;

}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 33%;
    left: 10.5%;

}

#definition{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: bold;
    color: rgb(131, 79, 79);
    top: 42%;
    left: 12%;

}

#definition-sub{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 47%;
    left: 15%;
    width: 29%;
}

#definition-sub-2{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 58%;
    left: 14.7%;
    width: 29%;
}

#instruction-title{
    
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    top: 10%;
    left: 65%;   
    
}

body{
    background-color: rgb(255, 245, 230);
}

.line{
    position: absolute;
    left: 46%;
    border-left: 5px solid rgb(131, 79, 79);
    height: 75%;  
    animation: increase 2s; 
    animation-fill-mode: forwards;
}

a:link {
    color: rgb(131, 79, 79) 
}

a:visited {
    color: rgb(131, 79, 79) 
}

#instructions{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    top: 21%;
    left: 49%;
    padding-right: 50px;
}


#round1{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    top: 40%;
    left: 49%;
    padding-right: 50px;
}

#round2{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    top: 52.5%;
    left: 49%;
    padding-right: 50px;
}

#round3{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    top: 66%;
    left: 49%;
    padding-right: 50px;
}

#back{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79) ;
    text-align: left;
    font-size: 1.5vw;
    position: absolute;
    top: 5%;
    left: 87%;
}

#back:hover{
    background-color: rgb(131, 79, 79);
    transition: all 0.2s ease-in;
    color: rgb(255, 245, 230);

}
