#game{
    font-family: monospace;
    font-size: 20px;
    color: rgb(131, 79, 79);
    opacity: 0;
}

#title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: rgb(131, 79, 79);
    top: 21%;
    left: 10.3%;

}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 33%;
    left: 11%;
    opacity: 0;

}

#definition{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: bold;
    color: rgb(131, 79, 79);
    top: 42%;
    left: 13%;
    opacity: 0;

}

#definition-sub{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 48%;
    left: 17%;
    opacity: 0;
}

#name-prompt{
    
    font-size: 2.2vw;
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    top: 24%;
    left: 58%;
    opacity: 0;
    
}

body{
    background-color: rgb(255, 245, 230);
}


.line{
    position: absolute;
    left: 46%;
    border-left: 5px solid rgb(131, 79, 79);
    height: 0px;  
    animation: increase 2s; 
    animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        height: 75%;
    }
}


#submit{

    background-color: black; /* Green */
    border: none;
    display: none;

    padding: 0px 0px;

}

#input-box{
    position: absolute;
    top: 32%;
    left: 49%;
    border: 4px solid rgb(131, 79, 79);
    width: 20%;
    height: 2%;
    margin: 1%;
    padding: 1%;
    transition: width .35s ease-in-out;
    opacity: 0;
}

#input-box:focus{
    width: 30%;

}

input[type = "text"]{

    font-family: monospace, sans-serif;
    font-size: 1.5vw;
}

#joined{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79);
    text-align: left;
    font-size: 1.6vw;
    position: absolute;
    top: 52%;
    left: 50.2%;
    opacity: 0;
}

#joined-list{
    position: absolute;
    top: 60%;
    left: 52%;

}

#players{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79);
    text-align: left;
    font-size: 1.6vw;

}

#player-count{

    position: absolute;
    font-family: monospace;
    color: rgb(131, 79, 79);
    font-size: 1.5vw;
    left: 78%;
    top: 51%;
}

a:link {
    color: rgb(131, 79, 79) }

a:visited {
    color: rgb(131, 79, 79) }

#play{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79) ;
    text-align: left;
    font-size: 1.6vw;
    position: absolute;
    top: 89%;
    left: 67%;
    width: 0px;
    padding: 0px;
    transition: width 1s;
    background: lightgrey;
    border:none;
    opacity: 0;
}

#play:hover{
    width: 75px;
    color: rgb(175, 95, 95);
}

#instruction{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79) ;
    text-align: left;
    font-size: 1.5vw;
    position: absolute;
    top: 5%;
    left: 87%;
    
    opacity: 0;
}

#instruction:hover{
    background-color: rgb(131, 79, 79);
    transition: all 0.2s ease-in;
    color: lightgrey;

}
