#game{
    font-family: monospace;
    font-size: 20px;
    color: rgb(131, 79, 79);
}

#title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(131, 79, 79);
    top: 150px;
    left: 200px;

}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 240px;
    left: 210px;

}

#definition{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: bold;
    color: rgb(131, 79, 79);
    top: 310px;
    left: 210px;

}

#definition-sub{

    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 360px;
    left: 250px;
}

#instruction-title{
    
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    top: 90px;
    left: 1000px;
    
    
}

body{
    background-color: rgb(255, 245, 230);
}

.line{
    position: absolute;
    left: 700px;
    border-left: 5px solid rgb(131, 79, 79);
    height: 600px;

}


a:link {
    color: rgb(131, 79, 79) 
}

a:visited {
    color: rgb(131, 79, 79) 
}

#instructions{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 150px;
    left: 750px;
    padding-right: 50px;
}


#round1{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 300px;
    left: 750px;
    padding-right: 50px;
}

#round2{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 400px;
    left: 750px;
    padding-right: 50px;
}

#round3{
    position: absolute;
    color: rgb(131, 79, 79);   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 500px;
    left: 750px;
    padding-right: 50px;
}

#back{
    font-family: "Lucida Console";
    color: rgb(131, 79, 79) ;
    text-align: left;
    font-size: 22px;
    position: absolute;
    top: 50px;
    left: 1300px;
    padding-right: 25px;
}

#back:hover{
    background-color: rgb(131, 79, 79);
    transition: all 0.2s ease-in;

}
