#game{
    font-family: monospace;
    font-size: 20px;
    color: rgb(131, 79, 79);
}

a{
    color: rgb(131, 79, 79);

}

.line{
    position: absolute;
    top: 25%;
    left: 48.5%;
    border-left: 5px solid rgb(131, 79, 79);
    height: 0px;
    animation: increase 2s; 
    animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        height: 150px;
    }
}

body{
    background-color: rgb(255, 245, 230);
}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5vw;
    font-style: italic;
    color: rgb(131, 79, 79);
    top: 10%;
    left: 40%;

}

.start-box{
    color: rgb(131, 79, 79);
    position: absolute;
    left: 5%;
    bottom: 60%;

}

#start{
    font-style: italic;
    font-size: 2.4vw;   
}

#start-word{
    position: relative;
    bottom: 8%;
    font-size: 2.7vw;

}

.end-box{  
    margin-right: 3%;
    color: rgb(131, 79, 79);
    position: absolute;
    bottom: 60%;
    left: 70%;

}

#end{
    text-align: right;
    font-style: italic;
    font-size: 2.4vw;
}

#end-word{
    position: relative;
    bottom: 8%;
    font-size: 2.7vw;

}

.path{
    position: absolute;
    top: 45%;
    left: 5%;
    color: rgb(131, 79, 79); 

}

#path-text{
    font-size: 1.3vw;

}

#next{
    position: absolute;
    top: 55%;
    left: 40%;
    font-size: 2.7vw;
    color: rgb(131, 79, 79);
}

#next-word{
    position: absolute;
    top: 61%;
    left: 37%;
    color: rgb(131, 79, 79);
    font-size: 3vw;
}