#game{
    font-family: monospace;
    font-size: 20px;
    color: white;
}

a{
    color: white;

}

.line{
    position: absolute;
    top: 200px;
    left: 700px;
    border-left: 5px solid white;
    height: 120px;

}

body{
    background-color: black;
}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    color: rgb(0, 201, 228);
    top: 80px;
    left: 625px;

}

.start-box{
    color: white;
    position: relative;
    top: 150px;
    left: 70px;

}

#start{
    font-size: 40px;
    
}

#start-word{
    position: relative;
    bottom: 15px;
    font-size: 45px;

}

.end-box{
    text-align: right;
    color: white;
    position: relative;
    bottom: 25px;
    left: 900px;
    margin-right: 980px;

}

#end{
    font-size: 40px;
}

#end-word{
    position: relative;
    bottom: 15px;
    font-size: 45px;

}

.path{
    position: absolute;
    top: 380px;
    left: 90px;
    color: white; 

}

#path-text{
    font-size: 20px;

}