#game{
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.line{
    position: absolute;
    left: 700px;
    border-left: 5px solid white;
    height: 100px;

}

body{
    background-color: black;
}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    color: rgb(0, 201, 228);
    top: 100px;
    left: 625px;

}
