#game{
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.line{
    position: absolute;
    top: 200px;
    left: 700px;
    border-left: 5px solid white;
    height: 120px;

}

body{
    background-color: black;
}

#btm-title{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    color: rgb(0, 201, 228);
    top: 100px;
    left: 625px;

}

#Start{
    color: white;
    position: absolute;
    top: 200px;
    left: 70px;
    font-size: 30px;
}

#start-word{
    color: white;
    position: absolute;
    top: 230px;
    left: 70px;
    font-style: bold;
    font-size: 45px;
}

#End{
    color: white;
    position: absolute;
    top: 200px;
    left: 1350px;
    font-size: 30px;
}

#end-word{
    color: white;
    position: relative;
    top: 190px;
    left: 1000px;
    font-style: bold;
    font-size: 45px;  
    margin-right: 50px;
    width: 0px;
    
}